@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GmarketSansMedium';
}

body {
  background-color: #EAEAEA;
}

.App {
  width: 90%;
  margin: 0 auto;
}

ul, li{list-style-type: none; margin: 0; padding: 0;}
.row {
  display: flex;
  justify-content: space-between;
}
.head{margin: 30px 0;}
.headers {
  display: flex; gap:80px;
  list-style-type: none;
}
.header:link { color:black; text-decoration: none;}
.header:visited { color: black; text-decoration: none;}
.header:hover { color: rgb(30, 137, 170); text-decoration: none;}
#canvas{
  height: 500px;
}