.pofols {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pofol-title:link {
    color: red;
    text-decoration: none;
}

.pofol-title:visited {
    color: black;
    text-decoration: none;
}

.pofol-title:hover {
    color: rgb(170, 30, 91);
    text-decoration: none;
}

.hello {
    width: 900px;
    font-size: 8rem;
    font-weight: 900;
    padding-bottom: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-3deg);
    z-index: -1;
}

.right {
    text-align: right;
}