.pofols{
    display: flex; flex-direction: column;
    justify-content: space-between;
}
.pofol {width: 200px; margin: 20px 0;}
.pofol:link { color: red; text-decoration: none;}
.pofol:visited { color: black; text-decoration: none;}
.pofol:hover { color: rgb(170, 30, 91); text-decoration: none;}

.pofol-div {
    white-space: pre-wrap;
    margin: 0 auto;
    width: 600px;
    position: relative;
    // position: fixed;
    // bottom: -1%; left: 50%;
    // transform: translatex(-50%);
    .pofol-title {
        width: 600px;
        font-size: 8rem;
        font-weight: 900;
        // transform: rotateZ(-3deg);
        z-index: -1;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translatex(-50%) rotateZ(-3deg);
        color: rgb(170, 30, 91);
    }
    .pofol-title2 {
        width: 600px;
        font-size: 8rem;
        font-weight: 900;
        // transform: rotateZ(3deg);
        z-index: -1;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translatex(-50%) rotateZ(2deg);
        color: rgb(35, 65, 120);
    }
    
    .pofol-face {
        // width: 100%;
        margin: 0 auto;
        margin-left: 50px;
    }
  }
  
.right{text-align: right;}