@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff') format('woff');
  font-style: normal;
}

* {
  font-family: 'Pretendard';
}

body {
  // background-color: #EAEAEA;
}

.App {
  width: 90%;
  margin: 0 auto;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.head {
  margin: 30px 0;
}

.headers {
  display: flex;
  gap: 80px;
  list-style-type: none;
}

.header:link {
  color: black;
  text-decoration: none;
}

.header:visited {
  color: black;
  text-decoration: none;
}

.header:hover {
  color: rgb(30, 137, 170);
  text-decoration: none;
}

#canvas {
  height: 500px;
}

.projectdisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;

  .work_simple {
    .work_li {
      font-size: 24px;
      // color: white;
    }

    li {
      // color: white;
      margin-bottom: 20px;

      .number {
        border: 1px solid #B09E89;
        border-radius: 5px;
        background-color: #B09E89;
        padding: 5px 10px;
        color: white;

      }

    }
  }

  .projectdisplay_item_flex {
    display: flex;
  }
}


.item_ul {
  width: 780px;
  display: flex;
  justify-content: space-between;
  >img{
    width: 300px;
    height: 300px;
  }
  .item_li{
    flex-direction: column;
    width: 500px;
  }
}

.pofol-title {
  color: blue;  
}

.pofol-title2 {
  color: red;
}

.pofol-title3 {
  color: green;
}